

<div id="menu">
    
        <div class="dropdown">
        <button onclick="userModule.search()" class="dropbtn">Search Users</button>
            <div id="users" class="dropdown-content">
                <input type="text" placeholder="Search.." id="srch" onkeyup="userModule.filterFunction()">
                <div id="usersList">
                </div> 	
            </div>
        </div>
    
    
</div>
<div id="details">
    <div id="msg">
    </div>
    <h2>WELCOME {{userDetails?.first_name}} </h2>
    <h3>Your Details:</h3>
    <ul>
        <li>First Name: {{userDetails?.first_name}}</li>
        <li>Last Name: {{userDetails?.last_name}}</li>
        <li>Email ID: {{userDetails?.email}}</li>
        
    </ul>
    <i class="material-icons maticon" matTooltip="Edit" (click)="editUserDetails()">create</i>
    
</div>

<div class= "backdrop" [ngStyle]="{'display':isEditUser}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isEditUser}">
            <div class="modal-dialog">
                <div class="modal-content ">
                    
                    <div class="row">
                        <form method="post" [formGroup]="editUser" >
                                <h3>Edit Your Details</h3> 
                                <label>First Name:</label>
                                <input matInput  class="border" formControlName="fname">
                                <mat-error class="errors" *ngIf="edit.fname.invalid"> First Name is required</mat-error>
                                <label>Last Name:</label>
                                <input matInput class="border" formControlName="lname">
                                <mat-error class="errors" *ngIf="edit.lname.invalid"> Last Name is required</mat-error>
                                <label>Email id:</label>
                                <input matInput class="border"  formControlName="email">
                                <mat-error class="errors" *ngIf="edit.email.invalid"> Email is required</mat-error>
                               
                               
                                <div class="row">
                                        
                                        <div class="matButton">    <button mat-raised-button color="warn" class="matButton" (click)="callConfirm()">Cancel</button>
                                        </div>
                                        <div class="matButton"> <button type="submit" mat-raised-button class="matButton" (click)="updateUser()" color="primary">Update</button> 
                                            </div>
                                        </div>           
                        </form>  
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isCloseEdit}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">All your unsaved changes will be reverted.Are you sure to quit? </h6>
                        </div>
                        <div class="row">
                                <div class="matButton"> <button mat-raised-button color="warn" (click)="closeConfirm()">No</button> </div>
                                <div class="matButton"> <button mat-raised-button color="primary"  (click)="closeEdit()">Yes</button></div>
                           
                        </div>
                    </div>
                </div>
            </div>